.navbar {
  min-height: 57px;
}

.navbar-body {
  display: flex;
  align-items: center;
}

.navbar-container {
  position: sticky;
  top: 0;
}

.navbar-selection {
  height: 100%;
}

.navbar-brand img {
  width: 80px;
}

.check_navbar_box {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar-collapse {
    display: none;
  }
  .navbar-collapse ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
  }
  .navbar-selection {
    display: none;
  }
  .box-shadow-menu {
    display: block;
    position: relative;
    padding-left: 2.35em;
  }
  .navbar-nav {
    display: flex;
    list-style: none;
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  .box-shadow-menu {
    display: none;
  }
  .navbar-collapse {
    display: none !important;
  }
}

.box-shadow-menu {
  position: relative;
  padding-left: 3.35em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.5em;
  width: 2em;
  height: 0.15em;
  background: white;
  box-shadow: 0 0.45em 0 0 white, 0px 0.85em 0 0 white;
}

.navbar-collapse ul li {
  color: #fff;
  width: 100%;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-collapse ul li:hover {
  background-color: #b4b4b4;
  color: #000;
}
