.image-cart {
  height: 136px;
  width: 176px;
  margin: 12px;
}

.conteiner-cart {
  background: white;
  width: 430px;
  height: 210px;
  border-radius: 10px;
  box-shadow: inset 5px 3px 16px 2px #aaaaaa;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}

.cart-body {
  display: flex;
  align-items: center;
  height: 210px;
  justify-content: space-between;
}

.font-title {
  font-family: sans-serif;
  font-size: 1.5em;
  margin-top: 4px;
  color: black;
}

.icon-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
}

.icon-action img {
  height: 50px;
}

.font-description {
  color: black;
  text-align: justify;
  margin: 7px;
  overflow-y: scroll;
  height: 72px;
}
