:root {
  --background_color: #20a2ff;
  --logo_size: 160px;
  --headerContent_margin: 43px;
  --margin_actions: 0px 59px 0px 0px;
  --links_images_size: 55px;
}

.Header-content {
  background: var(--background_color);
  display: flex;
  justify-content: space-between;
}

.Header-content img {
  width: var(--logo_size);
}

.Header-actions {
  text-align: end;
  margin: var(--margin_actions);
}

.Header-content a {
  margin-left: 43px;
  color: white;
  text-decoration: none;
  font-size: 23px;
  font-family: sans-serif;
}

.Header-Links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Links-Content {
  display: flex;
  justify-content: flex-end;
}

.Links-Content img {
  width: var(--links_images_size);
}

p {
  color: white;
}

@media screen and (max-width: 450px) {
  :root {
    --logo_size: 114px;
    --headerContent_margin: 43px;
    --margin_actions: 0px 10 px 0px 0px;
    --links_images_size: 40px;
  }
}
