.Bar-content {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  background: linear-gradient(180deg, black, #e3e3e3);
  text-shadow: 5px 8px 4px black;
}

.Bar-content a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  font-size: 21px;
  font-style: normal;
  font-family: initial;
}
